*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: #fff;
}
header a{
    display: inline-block;
    padding:15px;
    text-decoration: none;
}
header #logo{
    font-size: 2em;
}
header nav li{
    display: inline-block;
}
header nav a{
    transition: background-color 0.4s;
}

header nav a:hover{
    background-color: antiquewhite;
}

/* design for header ends */

/* desin for intro starts */

#intro{
    min-height: 450px;
    background-image: url(../images/casual-close-up-colors-1954524.jpg);
    background-size: cover;
}

.intro-text{
    text-align: center;
    position: relative;
    top: 100px;

}

.intro-text h2{
    padding: 15px;
    color: #fff;
    background-color:rgba(0, 0,0,.3);
}

.intro-text h3{
    color: #fff;
    background-color:rgba(0, 0,0,.3);
    padding: 10px;
}
.intro-text .call-to-action{
    padding: 20px;

}

.intro-text .call-to-action a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: aqua;
    padding: 10px;
    margin: 15px 10px 10px;
}

.intro-text .call-to-action a:hover{
    box-shadow: 15px 10px 10px rgba(0, 0,0,0.3);
}

/* end of intro section */

/* start of welcome section */
#welcome{
    background-color: rgb(11, 114, 80);
    padding-bottom: 20px;
}

#welcome h2{
    text-align: center;
    color:#fff;
    padding:15px;
    margin: 5px;
    font-size: 2em;
}
#welcome .services-container .work-container{
    max-width: 700px;
    margin: 10px auto;
}

 #welcome .services{
    margin-top: 20px;
    text-align: center;

}
#welcome .services h3{
    font-size: 1.5em;
    color:#fff;
    padding: 15px;
    border-bottom: 2px solid #fff;
}
/* for work classes */
.work{
    height: 250px;
    margin: 20px 10px;
    background-size: cover;
    position: relative;
}
.work.one{
    background-image: url(../images/abs-adult-athlete-1229356.jpg);
}
.work.two{
    background-image: url(../images/arm-biceps-bodybuilder-1978505.jpg);
}
.work.three{
    background-image: url(../images/active-beautiful-woman-bicep-curls-1919434.jpg);
}

.work-title{
    text-align: center;
    padding: 20px;
    background-color:rgba(245, 237, 237, 0.1);
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.work-title h3{
    color:aqua;
}
/* end of welcome section */

/* for blog section */
#blog{
    background-color: #fff;
    padding-top: 20px;
    text-align: center;
}

#blog h2{
    text-align: center;
    font-size: 2em;
}
#blog .call-to-action a{
    /* text-align: center; */
    padding: 10px;
    color: black;
    background-color: rgb(6, 73, 51);
    text-decoration: none;
    margin: 20px;
    display: inline-block;
   
}
 #blog .call-to-action a:hover{
    box-shadow: 1px 2px 1px rgb(6, 73, 51);
}

.article-container{
    max-width: 700px;
    margin: auto;
}
.article{
    background-color: #fff;
    margin: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0,0,0.3);
    text-align: center;
    padding: 10px;
}
.article-date{
    background-color: black;
    padding: 15px;
    color: rgb(19, 141, 135);
}
.article-title{
    padding: 15px;
}
.article-text{
    margin-top: 10px;
}
.article-bottom{
    width: 50%;
    margin: 20px auto;
}
.article-bottom a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(5, 41, 29);
    color: black;

}
/* end of blog designs */

/* testimonials section */

#testimonial{
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
}
#testimonial h2{
    font-size: 2em;
    padding: 10px;
}
#testimonial h3{
    font-size: 1.5em;
    padding: 10px 15px;
}

.testimonial-container{
    padding: 10px;
}

.Testimonials{
    padding: 10px;

}
.Testimonials img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin:20px auto;

}

.Testimonials  p{
    padding: 10px 0px;
}

.Testimonials h5{
    font-size: 1.2em;
}

.Testimonials h6{
    font-size: 1em;
}